
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Sansita:400,400i,700,700i,800,800i,900,900i);

/*-----------------------------
* CONFIGURACIONES DE LA PAGINA
-------------------------------*/

html, body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  overflow-X: hidden;
  /*overflow-Y: auto;*/
  padding: 0;
  overflow-y:hidden;
}

*, *::after,*::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
a, a:active, a:hover {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 1.5;
  margin: 10px;
  padding: 5px 5px 15px;
  text-align: justify;
}

img {
  display: block;
  width: absolute;
  position: absolute;
}
h1, h5, h6 {
  color: #555;
  padding: 15px 7px 7px;
   font-family: 'Open Sans', sans-serif;
}
h2{
  color:#000000;
  padding: 10px 7px 7px;
   font-family: 'Open Sans', sans-serif;
   text-shadow: white 0.1em 0.0em 0.2em;
}
h3 {
  color: #000000;
  padding: 0px 3px 7px;
   font-family: 'Open Sans', sans-serif;
}
h4{
  color: #000000;
  padding: 0px 3px 7px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

/*header {
  background: #161616;
  border-bottom: 1px solid #1C1C1C;
  box-shadow: 1px 0 2px rgba(0,0,0,.5);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  vertical-laign: middle;
  z-index: 9;
  height: 48px;
  width: 2000px;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

header [class*="menu-"] {
  cursor: pointer;
  font-size: 22px;
  height: initial;
  padding: 0px;
  width: initial;
}
header h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 100;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.intro {
  display: block;
  top: -96px;
  margin-right: auto;
  height: 670px;
 /* padding: 22.5%;
  background-color: #507DBC;
  left: 205px;
  
  z-index:1;
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}*/

/*--------------------------
* CAPAS DEL CONTENIDO
---------------------------*/

#cabecera {
  background: #5E6269;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  top: 10px;
  width: 970px;
  height: 45px;
  left: -100px; 
}

#cabecera h2 {
  color: white;
  padding: 10px 7px 7px;
   font-family: 'Open Sans', sans-serif;
   text-shadow: #000000 0.1em 0.0em 0.2em;
}

/*--------------------------
* AUTOFORMA DEL TITULO
---------------------------*/
  #pointer {
    width: 180px;
    height: 25px;
    position: relative;
    background: #f4d03f;
    top: 5px;
    left: -4px;
  }

 /* #pointer:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent; 
  }*/

  #pointer:before {
    content: "";
    position: absolute;
    right: -11px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 12.98px solid #f4d03f;
    border-top: 13px solid transparent;
    border-bottom: 12.98px solid transparent;
  }

/*--------------------------
* CAPA ESCENARIO
---------------------------*/

#escenario{
    display: block;
    position: relative;
    background: #E8E8E8;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px rgba(255,255,255,0);
    width: 970px;
    height: 558px; 
    position: relative;
    top: 10px;
    left: -100px;
  }

  #escenario p{
    position: absolute;
    top: 21px;
    font-style: italic;
    color: #000000;
  }

  #escenario img{
    vertical-align: middle;
     position: absolute;
    top: 26px;
    left: 555px;
  }

/*--------------------------
* CAPA CONTENIDO GENERAL
---------------------------*/

#contenidoGeneral{
    width: 97.4%;
    height: 467px;
    background: white;
    margin: 20px 13px 35px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*OTRAS PESTAÑAS*/
/* ==TABS TO THE RIGHT OF ME== */
/*
.tab-body-container {
  position: relative;
  margin-top: -14px;
  padding: 0px;
  height: 800px;
}

.tab-group {
  list-style: none;
height: 34px;
margin-bottom: 0px !important;
position: relative;
right: 0;

}

.tab-group li {
  float: right;
display: inline-block;
padding: 3px 17px;
color: #FFF;
cursor: pointer;
background: #808285;
margin-right: 0px;
border-right: 1px solid #c0c3c8;
margin: -11px 2px;
border-radius: 5px 5px 0px 0px;
width: 44px;
font-weight: bold;
}

.tab-current {
  background: #3e7898 !important;
}

.tab-group li:first-child {
  border-right: 0px !important;
}

.body-group {
      background: #FFF;
    margin: -10px;
    padding: 0px;
    width: 947px;
    height: 465px;
    margin-left: 10px;
    border-radius: 5px 0px 5px 5px;
}

.body-group li {
  list-style: none;
  display: none;
  position: relative;
  padding: 15px;
}

/* ==TABS TO THE LEFT OF ME== */
/*
.tab-body-container-secondary .tab-group {
  padding: 0px;
}

.tab-body-container-secondary .tab-group li {
  float: left;
  background: #b4c4d4;
  border-right: 1px solid #dde8f3;
}

.tab-body-container-secondary .tab-group li:first-child {
  border-right: 1px solid #dde8f3 !important;
}

.tab-body-container-secondary .tab-group li:last-child {
  border-right: 0px !important;
}

.tab-body-container-secondary .body-group {
  background: #e7e8e9 !important;
}

.white-bgk {
  background: #FFF;
  margin: -15px -15px;
  padding: 10px 4px;
}*/

/*--------------------------------
* IMAGEN DE INDICACION - PESTAÑAS
----------------------------------*/

#iPestaña {
  margin: -5px -237px;
}

/*--------------------------
* TEMA 3 - PESTAÑAS
---------------------------*/

#tabs {
  width: 945px;
  margin: -15px auto;
  height: 510px;
}

#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(235,30, 0, 1);
  overflow: auto;
}

#tabs-nav li {
  float: right;
  font-size: 19px;
  font-weight: bold;
  margin-right: 5px;
  padding: 0px 15px;
  border: 3px solid rgba(235,30, 0, 1);
  border-bottom:none;
  cursor:pointer;
  border-radius: 10px 10px 0px 0px;
  }

#tabs-nav li:hover {
  background-color: #FF6A6A;
  color: #000000;
}

li.active {
  background-color: white;
  color: #000000;
}

.contentt {
  padding: 10px;
  border-top: none;
  border: 3px solid rgba(235,30, 0, 1);
  height: 468px;
  background: white;
  border-radius: 0px 0px 5px 5px;
}

#tabs-nav a {
  text-decoration: none;
 }

.pestaña1 {
  background-color: rgba(235,30, 0, 1);
  color: white;
}

.pestaña2 {
  background-color: rgba(235,30, 0, 1);
  color: white;
}

.pestaña3 {
  background-color: rgba(235,30, 0, 1);
  color: white;
}

.pestaña4 {
  background-color: rgba(235,30, 0, 1);
  color: white;
}

.pestaña5 {
  background-color: rgba(235,30, 0, 1);
  color: white;
}

/* PESTAÑA 1 - SLIDER */

.containerss{
  width: 100%;
  margin: 27px auto;
  height: 421px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.view{
  width: 932px;
  height: 434px;
  margin: -34px -19px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

ul.slider{
  height: 100%;
}

ul.slider li{
  width: 100%;
  height: 100%;
  position: absolute;
}

ul.slider li:nth-child(1){
  background-color: #FFFFE0;
  left: -10px;
}

ul.slider li:nth-child(2){
  background-color: #FFE4C4;
  left: -10px;
}

ul.slider li:nth-child(3){
  background-color: #FFF9C4;
  left: -10px;
}

ul.slider li:nth-child(4){
  background-color: #4aa3df;
  left: -10px;
}

ul.slider li:nth-child(5){
  background-color: #9b59b6;
  left: -10px;
}

ul.slider li h3{
  display: block;
  position: absolute;
  top: 10px;
  right: 400px;
  padding: 4px 10px;
  font-size: 20px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

.prev, .next{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.prev{
  left: 2px;
}

.next{
  right: 2px; 
}

.prev a, .next a{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.prev a:hover, .next a:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.fa.fa-arrow-circle-left,   .fa.fa-arrow-circle-right {
  color: #5E6269;;
  font-size: 38px;
}

.controls{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 25px;
}

ul.cont-list{
  padding-left: 20px;
  margin: 6px;
  text-align: center;
}

ul.cont-list li{
  display: inline-block;
  margin: 0px;
  margin-top: -40px;
}

ul.cont-list li span{
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

ul.cont-list li.activeSl span{
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}

/* SUBTITULO PÉRDIDA */

#subPerdida {
  margin: -25px -555px;
}

/* CAJA DE DEFINICIÓN */

.wrapper{
  width: 960px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0 100px;
}

#header{
  width: 100%;
  background:url(img/bkg_header.png) repeat-x;
}

.header_content{
  width: 1000px;
  height: 125px;
  margin: auto;
}

.set_item{
  width: 400px;
  float: left;
}
 
.shk_bundle{
  position: fixed;
  right:0;
  bottom: 10px;
}

.shk_bundle a{
  outline: none;
}

.clear{
  clear:both;
}

#footer{
  width: 100%;
  background: url(img/bkg_footer.png);
}

.footer_content{
  height: 155px;
  width: 1000px;
  margin: auto;
}

.box1 p, .box2 p {
margin: 30px;
color: #aaa;
outline: none;
}

.box2{
  margin: 55px 55px;
  width: 815px;
  min-height: 70px;
  padding: 0 0 1px 0;
  position: relative;
  background: #f3f3f3;
  background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
  background: linear-gradient(to top, #ffff66 0%, #ffffcc 100%);
  border-top: 2px solid #ffff00;
  border-right: 2px solid #ffff00;
  -webkit-border-bottom-right-radius: 60px 60px;
  -moz-border-radius-bottomright: 60px 60px;
  border-bottom-right-radius: 60px 60px;
  -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 3px 3px rgba(0, 0, 0, 0.7);
 
}

.box2:before{
  content:'';
  width: 25px;
  height: 20px;
  position: absolute;
  bottom:0;
  right:0;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  box-shadow:-2px -2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform:  rotate(-20deg)
                        skew(-40deg,-3deg)
                        translate(-13px,-13px);
  -moz-transform: rotate(-20deg)
                    skew(-40deg,-3deg)
                    translate(-13px,-13px);
  -o-transform:   rotate(-20deg)
                    skew(-40deg,-3deg)
                    translate(-13px,-13px);
                    transform:
                    rotate(-20deg)
                    skew(-40deg,-3deg)
                    translate(-13px,-13px);
}
 
.box2:after{
  content: '';
  z-index: -1;
  width: 100px;
  height: 100px;
  position:absolute;
  bottom:0;
  right:0;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 20px 20px 18px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 8px rgba()0,0,0,0.2;
  -webkit-transform: rotate(0deg)
                        translate(-45px,-20px)
                        skew(20deg);
  -moz-transform: rotate(0deg)
                    translate(-45px,-20px)
                       skew(20deg);
  -o-transform: rotate(0deg)
                    translate(-45px,-20px)
                       skew(20deg);
  transform: rotate(0deg)
                translate(-45px,-20px)
                skew(20deg);
}

#defPerdida {
  margin: -15px 10px;
  font-family: 'Open-sans', sans-serif;
  line-height: 1.1;
  font-size: 20px;
}

/* NOTIFICACION */

.achievement {
  width: 64px;
  height: 64px;
  background: linear-gradient(to left, #99cc00 0%, #ccff33 100%);
  border-radius: 32px;
  -webkit-transition:width 1s;
  transition: width 1s;
  position: absolute;
  margin-left: 50px;
  margin-top: -115px;
}

.achievement.out {
 width: 820px;
}

.circle {
  background: #1a1a1a;
  width: 58px;
  height: 58px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 30px;
}

.circle span:not(.logo) {
  display: block;
  width: 25px; 
  height: 25px;
  position: absolute;
  background-color: #494949;
  left: 3px;
  top: 3px;
}

.circle span:nth-child(1) {
  border-radius: 25px 0 0 0;
  -moz-border-radius: 25px 0 0 0;
  -webkit-border-radius: 25px 0 0 0;
  background-color: #75aa1e; /* make the bar green */
}

.circle span:nth-child(2) {
  border-radius: 0px 25px 0 0;
  -moz-border-radius: 0 25px 0 0;
  -webkit-border-radius: 0 25px 0 0;
  left: 30px;
}

.circle span:nth-child(3) {
    border-radius: 0 0 25px 0;
    -moz-border-radius: 0 0 25px 0;
    -webkit-border-radius: 0 0 25px 0;
    left: 30px;
    top: 30px;
}

.circle span:nth-child(4) {
  border-radius: 0 0 0 25px;
  -moz-border-radius: 0 0 0 25px;
  -webkit-border-radius: 0 0 0 25px;
  top: 30px;
}

.logo {
  left: 12px;
  top: 12px;
  background-image: url("https://i.imgur.com/epUbaYQ.png");
  background-size: 30px;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  border: 2px solid #161616;
  border-radius: 30px;
}

.text {
  position: absolute;
  left: 75px;
  color: #000000;
  font-family: Sansita;
  font-size: 22px;
  white-space: nowrap;
  width: 710px;
  line-height: 1;
  top: 10px;
}

/* BOMBILLO */

#image {
  width: 130px;
  margin-left: 50px;
  margin-top: -40px;
}

@keyframes bulb-fill {
  from {
    fill: #aaa;
  }
  to {
    fill: #ffbd25;
  }
}

#bulb {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: bulb-fill;
  fill: #aaa;
}

#base {
  fill: #19485d;
}

@keyframes ray-fill {
  from {
    fill: #fff;
  }
  to {
    fill: #ffbd25;
  }
}

.ray {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-name: ray-fill;
  fill: #fff;
}

#Ray_1 {
  animation-delay: calc(0.3s + 0.1s * 1);
}

#Ray_2 {
  animation-delay: calc(0.3s + 0.1s * 2);
}

#Ray_3 {
  animation-delay: calc(0.3s + 0.1s * 3);
}

#Ray_4 {
  animation-delay: calc(0.3s + 0.1s * 4);
}

#Ray_5 {
  animation-delay: calc(0.3s + 0.1s * 5);
}

/* CAJA COLORES DEGRADE*/

.caja2 {
padding: 1rem;
background-color: #fff;
text-align: justify;
line-height: 1;
font-family: 'Open Sans', sans-serif;
color: #000000;
font-size: 20px;
}

.box-wrap {
  display: inline-block;
  width: 670px;
  padding: 5px;
  background-image: -webkit-linear-gradient(left, #09f, #6c3, #c33, #6c3, #09f);
  background-image: -moz-linear-gradient(left, #09f, #6c3, #c33, #6c3, #09f);
  background-image: -ms-linear-gradient(left, #09f, #6c3, #c33, #6c3, #09f);
  background-image: linear-gradient(left, #09f, #6c3, #c33, #6c3, #09f);
  border: 1px solid #666;
  box-shadow: 0 0 5px #333;
}

#wrap {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  top: -132px;
  left: 195px;
}

//*-----------------------------
*  ITEM 2 
-------------------------------*/

#enunciadoEj1 span {

  margin-top: 100px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#enunciadoEj1 {
  top: -45px;
  margin-left: 45px;
  margin-top: 100px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #000000;
}

#rectaEj {
  margin: 70px -410px;
}

#enunEj2 {
  margin: 170px 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#enunEj2 span {
  font-style: normal;
}

#dAbsolutas {
  margin: 220px -410px
}

/* GRAFICO */

figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
figure {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;

}

#pensante {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 10px solid #00b3b3;
  width: 180px;
  height: 230px;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 0 0 4px #0c4842, 0 0 14px 4px #21ccbb, 0 0 14px 6px white;
  margin-left: -235px;
}

figure figcaption {
  position: absolute;
  top: 10px;
  left: 180px;
  z-index: 2;
  -webkit-transform: translate(-75%, -50%);
  transform: translate(-75%, -50%);
  background: linear-gradient(to right, #ffff66 0%, #66ffff 100%);
  color: black;
  padding: 6px;
  border-radius: 30px;
  border: 4px solid black;
  font-weight: 500;
  width: 670px;
  line-height: 1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

figure figcaption::before {
  position: absolute;
  top: calc(100% - 24px);
  left: calc(100% + 5px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 50px solid black;
  content: '';
}

figure figcaption::after {
  position: absolute;
  top: calc(100% - 22px);
  left: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 40px solid #66ffff;
  content: '';
}

/* CAJA CODIGO */

.cajaCodigo {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 620px;
  margin-bottom: 0px;
  margin-right: 10px;
  padding: 25px;
  background-color: #efefef;
  color: #424242;
  height: 200px;
  top: 135px;
  left: 45px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.cajaCodigo {
  border-radius: 10px;
  background-image: linear-gradient(to right, #48d7d8 10px, white 11px);
  padding-left: 35px;
}

.cajaCodigo h1 {
  color: #000000;
  font-size: 23px;
  margin-top: -20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: 0 0 0.2em #00ffcc, 0 0 0.2em #00ffcc;
}

.cajaCodigo pre {
  margin-top: -30px;
  color: blue;
  margin-left: -20px;
}

/*-----------------------------
*  PESTAÑA 4 
-------------------------------*/

.vertical-tabs-container {
  border-radius: 10px;
  border: 3px solid #f68a8e;
  margin-bottom: 1.5em;
  overflow: hidden;
  top:35px;
  height: 405px;
}
.vertical-tabs-container::after {
  clear: both;
  content: "";
  display: block;

}
.vertical-tabs-container li {
  list-style: none;

}

.vertical-tabs-container .vertical-tabs {
  display: none;

}
@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tabs {
    background-color: white;
    display: inline;
    float: left;
    height: 18.75em;
    width: 20%;
    background: #ffdab9;
    border-radius: 10px;
  }
}
@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab {
    border-bottom: 2px solid #f68a8e;
    display: block;
    font-weight: bold;
    margin-right: -1px;
    padding: 0.75em 0.809em;
  }
  .vertical-tabs-container .vertical-tab.is-active {
    background-color:#ffffff;
    margin-right: -1px;
  }
}
.vertical-tabs-container a.vertical-tab-accordion-heading,
.vertical-tabs-container a.vertical-tab {
  color: #000000;

}
.vertical-tabs-container .vertical-tab:focus {
  outline: none;
}
.vertical-tabs-container .vertical-tab-content-container {
  display: block;
  margin: 0 auto;
  background:  linear-gradient(to top, #ffdab9 0%, #ffffff 100%);
}
.vertical-tabs-container .vertical-tab-content-container a:focus {
  outline: none;
}
@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab-content-container {
    height: 405px;
    width: 80%;
    background-color:#ffd0b5;
    display: inline-block;
  }
}
.vertical-tabs-container .vertical-tab-content {
  background-color: linear-gradient(to top, #ffdab9 0%, #ffffff 100%);
  padding: 1.5em 1.618em;
  height: 420px;
}
.vertical-tabs-container .vertical-tab-content p {
  color: #333;
  line-height: 1.5em;

}

@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab-accordion-heading {
    display: none;
  }
}

#c1P4{
  padding-bottom: 0em;
  color: #000000;
  font-family: Sansita;
  text-align: justify;
  margin-right: 20px;
  line-height: 30px;
  height: 100px;
font-size: 20px;
margin: -10px -10px;
}

#c1P4 span {
  font-style: normal;
}

#diseño{
  margin: -25px -555px;
}

#titulo{
  margin: -30px -5px;
text-align: left; 
font-family: Sansita; 
font-weight:bold; 
font-size: 30px; 
color: #cb3f68; 
text-shadow: -1px 0 #ec134b, 0 1px #ec134b, 1px 0 #ec134b, 
0 -1px #ec134b, -2px 2px 0 #ec134b, 2px 2px 0 #ec134b, 
1px 1px #ec134b, 2px 2px #ec134b, 3px 3px #ec134b;
}

#titulo1{
  margin: 20px -5px;
text-align: left; 
font-family: Sansita; 
font-weight:bold; 
font-size: 30px; 
color: #cb3f68; 
text-shadow: -1px 0 #ec134b, 0 1px #ec134b, 1px 0 #ec134b, 
0 -1px #ec134b, -2px 2px 0 #ec134b, 2px 2px 0 #ec134b, 
1px 1px #ec134b, 2px 2px #ec134b, 3px 3px #ec134b;
}

#c2P4{
  padding-bottom: 0em;
  color: #000000;
  font-family: Sansita;
  text-align: justify;
  margin-right: 20px;
  line-height: 20px;
  height: 100px;
font-size: 20px;
margin: -10px 40px;
}

#c2P4 span {
  font-style: normal;
}

#c3P4{
  padding-bottom: 0em;
  color: #000000;
  font-family: Sansita;
  text-align: justify;
  margin-right: 20px;
  line-height: 25px;
  height: 100px;
font-size: 20px;
margin: 35px 40px;

}

#c3P4 span {
  font-style: normal;
}

#pestañas a {
  text-decoration: none;
}
#c3P5{
  padding-bottom: 0em;
  color: #000000;
  font-family: Sansita;
  text-align: justify;
  margin-right: 20px;
  line-height: 25px;
  height: 100px;
font-size: 20px;
margin: 135px -10px;
margin-right: 10px;
}

#c3P5 span {
  font-style: normal;
}

.card1 {
  margin: 0 auto 2rem;
  padding: 1rem;
  background-color: white;
  word-wrap: break-word;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2,
              0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e6e6e6,
              0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
  height: 100px;
  left: -80px;
  font-family: 'Sansita';
  color: #000000;
  text-align: justify;
  font-size: 19px;
  line-height: 1;
  margin: 25px 75px;
  width: 700px;
  border-radius: 10px;
}

.card1.card-secondary3 {
  background-color: #e1c0fd;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 
              0 0.5em 0 -0.25em #e6acc4, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1),
              0 1em 0 -0.5em #f68a8e, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}

.card1 > :last-child {
  margin-bottom: 0;
}

/**CAJA DESPLEGABLE***/

.wraps {
  width: 800px;
  margin-top: 65px;
  position: relative;
}

.portrait {
  background: url('unoB.png') no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

#contentt {
  transition-duration: 0.5s;
  position: relative;
  float: left;
  background: #e1c0fd;
  height: 80px;
  width: 0;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
}

#contentt h1 {
  margin: -10px -10px;
  padding: 20px;
  text-overflow: ellipsis;
  font-family:  sansita;
  font-size: 16px;
  color: #000000;
  width: 605px;
  line-height: 1.2;
  text-align: justify;
  font-weight: normal;
}

#contentt p {
  margin: 5px 21px;
  font-size: .9em;
  min-width: 200px;
}

.display {
  min-width: 610px !important;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.button1 {
  transition-duration: 0.5s;
  background: #ec134b;
  padding: 3px;
  width: 25px;
  position: absolute;
  top: 15px;
  left: 80px;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.button1:before {
  transition-duration: 0.5s;
  font-family: FontAwesome;
  content: '\f105';
  color: #fff;
  font-size: 2em;
}

.buttonDisplay {
  left: 665px !important;
}

.buttonDisplay:before {
  content: '\f104';
}

/* DOS */

.wraps2 {
  margin: 0 auto;
  width: 800px;
  margin-top: 20px;
  position: relative;
  margin-left: 0px;
}

.portrait2 {
  background: url('dosB.png') no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

#contentt2 {
  transition-duration: 0.5s;
  position: relative;
  float: left;
  background: #e1c0fd;
  height: 80px;
  width: 0;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  margin: -80px 80px;
}

#contentt2 h1 {
  text-overflow: ellipsis;
  font-family: sansita;
  font-size: 16px;
  color: #000000;
  width: 605px;
  line-height: 1.2;
  text-align: justify;
  margin: -10px -10px;
  padding: 20px;
  font-weight: normal;

}

#contentt2 p {
  margin: 5px 21px;
  font-size: .9em;
  min-width: 200px;
}

.display2 {
  min-width: 610px !important;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.button2 {
  transition-duration: 0.5s;
  background: #ec134b;
  padding: 3px;
  width: 25px;
  position: absolute;
  top: 15px;
  left: 80px;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.button2:before {
  transition-duration: 0.5s;
  font-family: FontAwesome;
  content: '\f105';
  color: #fff;
  font-size: 2em;
}

.buttonDisplay2 {
  left: 665px  !important;
}

.buttonDisplay2:before {
  content: '\f104';
}
#niño
{
  margin:172px -480px;
}

#subtitulo1 {
  padding-bottom: 0em;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 0.2em #3F48CC, 0 0 0.2em #3F48CC;
  height: 0px;
font-size: 25px;
font-weight: bold;
margin-left: 180px;
margin-top: -20px;
}

#subtitulo1 span {
    font-style: normal;
  }

#subtitulo2 {
  padding-bottom: 0em;
  color: #000000;
  font-family: sansita;
  text-shadow: 0 0 0.2em #a1ee33, 0 0 0.2em #a1ee33;
  height: 0px;
font-size: 27px;
font-weight: bold;
margin-left: 20px;
margin-top: -10px;
}

#subtitulo2 span {
    font-style: normal;
  }

#invertir
{
  margin:30px -240px;
  
  
}

.i5 {
  border-radius: 3px;
  box-shadow:
        -4px  0px 0 0 #3F48CC, 
         0px -4px 0 0 #3F48CC,
         4px  0px 0 0 #3F48CC, 
         0px  4px 0 0 #3F48CC,
         0px  0px 0 7px #33a1ee;
  width: 260px;
margin-top: 40px;
margin-left: 10px;
  line-height: 1;
  padding: 3px;
  font-size: 15px;
  text-align: justify;
  font-family: 'Open Sans', Sans-serif;
  color: #000000;
  background: linear-gradient(to top, #F5D13E 0%, #ffffff 100%);
}

.i6 {
  border-radius: 3px;
  box-shadow:
        -4px  0px 0 0 #3F48CC, 
         0px -4px 0 0 #3F48CC,
         4px  0px 0 0 #3F48CC, 
         0px  4px 0 0 #3F48CC,
         0px  0px 0 7px #33a1ee;
width: 260px;
margin-top: 17px;
margin-left: 10px;
  line-height: 1;
  padding: 3px;
  font-size: 15px;
  text-align: justify;
  font-family: 'Open Sans', Sans-serif;
  color: #000000;
  background: linear-gradient(to top, #F5D13E 0%, #ffffff 100%);
}

.item1 {
  width: 240px;
  display:block; 
  position: initial;
}

.item2 {
  width: 240px;
  display:block; 
  position: initial;
  margin: 40px auto;
}
.evidence-description {
  color:#000000;
  background-color: #a1ee33;
  font-family: sansita;
  width: 255px;
  padding: 8px 16px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  position: absolute;
  margin: 290px 20px;
  z-index: 10;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.evidence-description:hover {
  white-space: inherit;
}

.evidence-description1 {
  color:#000000;
  background-color: #a1ee33;
  font-family: sansita;
  width: 255px;
  padding: 8px 16px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  position: absolute;
  margin: 250px 140px;
  z-index: 10;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.evidence-description1:hover {
  white-space: inherit;
}
.grow:hover
{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

#suma1{
 margin: 70px -525px;
height: 180px;
}

#sumaA{

margin: 70px -207px;
height: 180px;

}